img{
    width: 500px;
}
@media screen and (max-width:800px) and (orientation:portrait){
    body{
        background-color: red;
    }
}

@media screen and (max-width:800px) and (orientation:landscape){
    body{
        background-color: red;
    }
}